<section class="bg-[#f8f9fa] text-[#184074] py-10">
  <div class="container mx-auto px-5">
    <!-- Contenedor principal -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Columna 1: Redes sociales y logo -->
      <div class="flex flex-col items-center md:items-start">
        <a href="/" class="mb-4">
          <img src="../Img/logo.svg" alt="Logo" class="h-16 mb-4" />
        </a>
        <p class="mb-4 text-center md:text-left">
          Síguenos en nuestras redes sociales:
        </p>
        <div class="flex space-x-4">
          <a
            href="https://www.facebook.com/procodebycristian"
            target="_blank"
            aria-label="Facebook"
          >
            <i class="fab fa-facebook text-2xl hover:text-gray-500"></i>
          </a>
          <a
            href="https://www.instagram.com/cristian.pp/"
            target="_blank"
            aria-label="Instagram"
          >
            <i class="fab fa-instagram text-2xl hover:text-gray-500"></i>
          </a>
          <a
            href="https://www.tiktok.com/@procodedev"
            target="_blank"
            aria-label="TikTok"
          >
            <i class="fab fa-tiktok text-2xl hover:text-gray-500"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/cristian-posada-891401291/"
            target="_blank"
            aria-label="LinkedIn"
          >
            <i class="fab fa-linkedin text-2xl hover:text-gray-500"></i>
          </a>
          <a
            href="https://github.com/CristianPosada17"
            target="_blank"
            aria-label="GitHub"
          >
            <i class="fab fa-github text-2xl hover:text-gray-500"></i>
          </a>
          <a
            href="https://www.youtube.com/@ProCodeDev"
            target="_blank"
            aria-label="YouTube"
          >
            <i class="fab fa-youtube text-2xl hover:text-gray-500"></i>
          </a>
        </div>
      </div>

      <!-- Columna 2: Información de contacto -->
      <div class="flex flex-col items-center md:items-start">
        <h3 class="text-xl font-bold mb-4">Información de Contacto</h3>
        <p class="mb-2">
          <i class="fas fa-envelope mr-2"></i> info@procodedev.com
        </p>
        <p>
          <i class="fas fa-phone mr-2"></i> +52 618 230 2938
        </p>
      </div>

      <!-- Columna 3: Suscripción al newsletter -->
      <div class="flex flex-col items-center md:items-start">
        <h3 class="text-xl font-bold mb-4">Suscríbete a nuestro Newsletter</h3>
        <form
          action="https://formspree.io/f/tu-endpoint"
          method="POST"
          class="w-full"
        >
          <input
            type="email"
            name="email"
            placeholder="Ingresa tu email"
            class="w-full px-4 py-2 mb-4 text-gray-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#184074]"
            required
          />
          <button
            type="submit"
            class="bg-[#184074] text-white px-6 py-2 rounded-lg hover:bg-gray-500 transition duration-200 ease-in-out w-full"
          >
            Suscribirse
          </button>
        </form>
      </div>
    </div>

    <!-- Derechos reservados -->
    <div class="mt-10 text-center border-t border-gray-600 pt-4">
      <p class="text-sm">
        &copy; 2025 ProCodeDev. Todos los derechos reservados.
      </p>
    </div>
  </div>
</section>
