<section class="bg-[#f8f9fa] py-10 px-5" id="services">
  <h2 class="text-5xl text-[#184074] font-bold text-center mb-10">Servicios</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-6xl mx-auto">
    <!-- Tarjeta 1 -->
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <div class="text-[#184074] text-5xl mb-4">
        <img
          src="../Img/icons/icon1.webp"
          alt="Icono 1"
          class="w-16 h-16 mx-auto"
        />
      </div>
      <h3 class="text-2xl font-bold text-[#184074] mb-2">Desarrollo Web</h3>
      <p class="text-gray-700 mb-4">
        Creamos sitios web modernos y funcionales adaptados a tus necesidades.
      </p>
      <a
        href="#contact"
        class="bg-[#184074] text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition duration-200 ease-in-out"
        >Más Información</a
      >
    </div>

    <!-- Tarjeta 2 -->
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <div class="text-[#184074] text-5xl mb-4">
        <img
          src="../Img/icons/icon2.webp"
          alt="Icono 2"
          class="w-16 h-16 mx-auto"
        />
      </div>
      <h3 class="text-2xl font-bold text-[#184074] mb-2">Diseño Web</h3>
      <p class="text-gray-700 mb-4">
        Diseñamos tu sitio web con un enfoque en la experiencia del usuario y la
        estética visual.
      </p>
      <a
        href="#contact"
        class="bg-[#184074] text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition duration-200 ease-in-out"
        >Más Información</a
      >
    </div>

    <!-- Tarjeta 3 -->
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <div class="text-[#184074] text-5xl mb-4">
        <img
          src="../Img/icons/icon3.webp"
          alt="Icono 3"
          class="w-16 h-16 mx-auto"
        />
      </div>
      <h3 class="text-2xl font-bold text-[#184074] mb-2">
        Integracion de Blogs
      </h3>
      <p class="text-gray-700 mb-4">
        Comparte noticias y actualizaciones de tu negocio a través de un blog.
      </p>
      <a
        href="#contact"
        class="bg-[#184074] text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition duration-200 ease-in-out"
        >Más Información</a
      >
    </div>

    <!-- Tarjeta 4 -->
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <div class="text-[#184074] text-5xl mb-4">
        <img
          src="../Img/icons/icon4.webp"
          alt="Icono 4"
          class="w-16 h-16 mx-auto"
        />
      </div>
      <h3 class="text-2xl font-bold text-[#184074] mb-2">
        Formularios de Contacto
      </h3>
      <p class="text-gray-700 mb-4">
        Facilita la comunicacion con tus clientes a través de formularios
        personalizados.
      </p>
      <a
        href="#contact"
        class="bg-[#184074] text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition duration-200 ease-in-out"
        >Más Información</a
      >
    </div>

    <!-- Tarjeta 5 -->
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <div class="text-[#184074] text-5xl mb-4">
        <img
          src="../Img/icons/icon5.webp"
          alt="Icono 5"
          class="w-16 h-16 mx-auto"
        />
      </div>
      <h3 class="text-2xl font-bold text-[#184074] mb-2">Citas</h3>
      <p class="text-gray-700 mb-4">
        Permite que tus clientes realicen citas en línea de manera sencilla.
      </p>
      <a
        href="#contact"
        class="bg-[#184074] text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition duration-200 ease-in-out"
        >Más Información</a
      >
    </div>

    <!-- Tarjeta 6 -->
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
      <div class="text-[#184074] text-5xl mb-4">
        <img
          src="../Img/icons/icon6.webp"
          alt="Icono 6"
          class="w-16 h-16 mx-auto"
        />
      </div>
      <h3 class="text-2xl font-bold text-[#184074] mb-2">SEO</h3>
      <p class="text-gray-700 mb-4">
        Mejoramos el posicionamiento de tu sitio web en los motores de búsqueda.
      </p>
      <a
        href="#contact"
        class="bg-[#184074] text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition duration-200 ease-in-out"
        >Más Información</a
      >
    </div>
  </div>
</section>
